MLFLOW_TRACKING_URI   = "http://127.0.0.1:5000"
EXPERIMENT_NAME       = "mall-customers-classification"
REGISTERED_MODEL_NAME = "mall-customer-segment-classifier"

RANDOM_STATE = 42
TEST_SIZE    = 0.2
N_CLUSTERS   = 4